# Polars Tuto 1

In [9]:
!pip install polars

Requirement already satisfied: polars in c:\programdata\anaconda3\lib\site-packages (0.20.24)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\zgcha\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\zgcha\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\zgcha\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\zgcha\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)

# Pourquoi Polars et parquet?

In [2]:
# Stockage en ligne 
EmployeeID, Name, Department, Position, Salary, Hire Date
1, John Doe, Marketing, Manager, 50000, 2018-06-01
2, Jane Smith, Sales, Sales Representative, 40000, 2019-05-23
3, Emily Johnson, IT, Software Developer, 60000, 2017-03-15
... (and so on)

#Stockage en colonne 
EmployeeID: 1, 2, 3, ...
Name: John Doe, Jane Smith, Emily Johnson, ...
Department: Marketing, Sales, IT, ...
Position: Manager, Sales Representative, Software Developer, ...
Salary: 50000, 40000, 60000, ...
Hire Date: 2018-06-01, 2019-05-23, 2017-03-15, ...

SyntaxError: invalid syntax (2080768543.py, line 2)

In [10]:
import pandas as pd 
import polars as pl

# Sauvegarder un fichier csv en parquet à partir de Pandas

In [14]:
df = pd.read_csv('data/tweets.csv')
df

,Unnamed: 0,date,true_sentiment,content_cleaned
0,0,2017-05-09T20:32:06Z,1.0,cashtag I wanna sell some shares to buy me an...
1,1,2023-02-08T21:31:58Z,1.0,"cashtag Don't forget cashtag tomorrow, heade..."
2,2,2022-05-13T08:55:11Z,0.0,cashtag Another fake upside move… \nTake pr...
3,3,2019-09-18T06:02:46Z,1.0,cashtag iPhone 11 preorder goes well in China
4,4,2023-06-05T13:57:33Z,0.0,cashtag cashtag Headlines and clickbait arti...
...,...,...,...,...
249995,249995,2019-08-13T19:38:54Z,1.0,cashtag damm pls cashtag pls cashtag pls ca...
249996,249996,2013-03-12T18:39:41Z,1.0,cashtag IDC Jan 31 2013 &quot;iPad accounted ...
249997,249997,2021-09-02T14:25:34Z,1.0,cashtag bears are silly!
249998,249998,2023-11-02T19:59:27Z,0.0,cashtag just sold the iPhone I just bought fo...
249999,249999,2022-02-05T05:29:12Z,0.0,cashtag cashtag Microsoft is supreme because...

In [16]:
df.to_parquet('data/tweets.parquet.gzip', compression ='gzip')

# La lecture de fichiers

In [17]:
data = pl.read_parquet('data/tweets.parquet.gzip')

In [19]:
data.describe()

shape: (9, 5)
┌────────────┬──────────────┬──────────────────────┬────────────────┬───────────────────────────────────┐
│ statistic  ┆ Unnamed: 0   ┆ date                 ┆ true_sentiment ┆ content_cleaned                   │
│ ---        ┆ ---          ┆ ---                  ┆ ---            ┆ ---                               │
│ str        ┆ f64          ┆ str                  ┆ f64            ┆ str                               │
╞════════════╪══════════════╪══════════════════════╪════════════════╪═══════════════════════════════════╡
│ count      ┆ 250000.0     ┆ 250000               ┆ 250000.0       ┆ 250000                            │
│ null_count ┆ 0.0          ┆ 0                    ┆ 0.0            ┆ 0                                 │
│ mean       ┆ 124999.5     ┆ null                 ┆ 0.5            ┆ null                              │
│ std        ┆ 72168.927986 ┆ null                 ┆ 0.500001       ┆ null                              │
│ min        ┆ 0.0          ┆ 2010-07-13T00:57:48Z ┆ 0.0            ┆   Buy more cashtag  and you will… │
│ 25%        ┆ 62500.0      ┆ null                 ┆ 0.0            ┆ null                              │
│ 50%        ┆ 125000.0     ┆ null                 ┆ 1.0            ┆ null                              │
│ 75%        ┆ 187499.0     ┆ null                 ┆ 1.0            ┆ null                              │
│ max        ┆ 249999.0     ┆ 2024-04-26T15:17:06Z ┆ 1.0            ┆ 🧛 #Dread REPORT IS READY         │
│            ┆              ┆                      ┆                ┆ * VERI…                           │
└────────────┴──────────────┴──────────────────────┴────────────────┴───────────────────────────────────┘

In [25]:
df.isna().sum()

Unnamed: 0         0
date               0
true_sentiment     0
content_cleaned    0
dtype: int64

In [26]:
data.null_count()

shape: (1, 4)
┌────────────┬──────┬────────────────┬─────────────────┐
│ Unnamed: 0 ┆ date ┆ true_sentiment ┆ content_cleaned │
│ ---        ┆ ---  ┆ ---            ┆ ---             │
│ u32        ┆ u32  ┆ u32            ┆ u32             │
╞════════════╪══════╪════════════════╪═════════════════╡
│ 0          ┆ 0    ┆ 0              ┆ 0               │
└────────────┴──────┴────────────────┴─────────────────┘

In [27]:
data.n_unique()

250000